
@{
    ViewBag.Title = "ReciveOrder";
}

<h2>Recive Order Form</h2> @Html.ActionLink("Back To Orders", "OrderIndex")

@using (Html.BeginForm())
{
    var grid = new WebGrid(Model, rowsPerPage: 5, canPage: true, canSort: false);
    //var ordr = ViewData["newOrders"];
    <br />
   <br />
   <label id="errorlable" style="color:red"></label>
    <br />
    <br />
  
    <div>
        <div id="orderRecivingGrid">
            @grid.GetHtml(
                tableStyle: "table table-striped table-bordered table-condensed",
                headerStyle: "header",
            columns: grid.Columns(
            grid.Column("SrNo", "Sr. No"),
            grid.Column("CategoryName", "Category"),
            grid.Column("ProductName1", "Product"),
            grid.Column("Size", "Size"),
            grid.Column("SupplierName", "Supplier"),
            grid.Column("QuantityOrderd", "Quantity Ordered"),
            grid.Column("QuantityRecived", "Quantity Recived"),
            grid.Column("OrderRecivingDate", "Reciving Date"),
            grid.Column("PricePrItem", "price Pr Item"),
            grid.Column("DiscountPercentage", "Discount %"),
            grid.Column("PackSize", "pack Size"),
            grid.Column("QuantityAcepted", "Quantity Acepted"),
            grid.Column("BatchNO", "Batch#"),
            grid.Column("ExpiryDate", "Expiry Date"),
           // grid.Column("SellingPricePrItem", "Selling Price/Item"),
           // grid.Column("ItemSold", "Item Sold"),
           // grid.Column("ExpireDays", "Alert Before Expirey (Days)"),
            grid.Column(header:"Edit Item",format: @<a class="btn btn-info" href="~/OrderAndHistory/EditReciveOrder?id=@item.StockId">Edit</a>)
         ), mode: WebGridPagerModes.Numeric)
                    </div>
    </div>
    
}
<script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/Scripts/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
        $(document).ready(function () {
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
        });
        $('#saveOrder').click(function (e) {
            e.preventDefault();
            if ($('#datepicker').val().length < 1) {
             document.getElementById("errorlable").innerHTML = "Please select a date";
            }
            else {
                $.ajax({
                    type: 'POST', url: '@Url.Action("SaveNewOrder")', dataType: 'json', data: { Date: $('#datepicker').val() },
                    success: function (ok) {
                        location.reload();
                        document.getElementById("errorlable").innerHTML = "Order Saved";
                     },
                    error: function (ex) {
                      document.getElementById("errorlable").innerHTML = "Order Not saved, Try again ";
                    }
                });
            }
       });
        });
</script>
